################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SummerFPS/v15/Browse.VC.db
/.vs/SummerSplash/v15/Browse.VC.db
/.vs/SummerSplash/v15/Browse.VC.opendb
